
.gameArea{
    position: relative;
    margin: 50px auto;
    width: 500px;
    height: 450px;
    border: 10px solid green;
}
.snake-dot{
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: rgb(241, 147, 69);
    border: 1px solid rgb(143, 143, 87);
    z-index: 2;
}
.snake-food{
    position: absolute;
    width: 2.1%;
    height: 2.1%;
    background-color: rgba(241, 142, 12, 0.897);
    border: 1px sold rgb(233, 26, 26);
    z-index: 1;
}
.title{
    align: center;    
}