
.gameArea{
    position: relative;
    margin: 50px auto;
    width: 500px;
    height: 450px;
    border: 10px solid green;
}
.snake-dot{
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: rgb(35, 36, 33);
    border: 1px solid rgb(143, 143, 87);
    z-index: 2;
}
.snake-food{
    position: absolute;
    width: 2.1%;
    height: 2.1%;
    background-color: red;
    border: 1px sold rgb(172, 117, 117);
    z-index: 1;
}